# Selecting Subsets of Real financial Data

In [40]:
import pandas as pd
import numpy as np
from data_pre import (
    strip_unuse, quote_filtering, quote_numericing, split_filter)
pd.set_option('display.max_rows', 8)

In [44]:
# import sys
# sys.path.insert(0, '..')

#### read data path

In [ ]:
data = pd.read_csv('../cookbook_data/owndata/economic_calendar_2.csv', index_col=1)
data.drop('id', axis=1, inplace=True)

time_format = '%d/%m/%Y'
data.index = pd.to_datetime(data.index, format=time_format)

In [ ]:
data.head()

,time,zone,currency,importance,event,actual,forecast,previous
date,,,,,,,,
2022-02-01,All Day,china,NaN,NaN,China - Spring Festival,NaN,NaN,NaN
2022-02-01,All Day,china,NaN,NaN,China - Spring Festival,NaN,NaN,NaN
2022-02-01,00:40,united states,USD,medium,FOMC Member George Speaks,NaN,NaN,NaN
2022-02-01,04:30,australia,AUD,medium,AIG Manufacturing Index (Dec),48.4,NaN,54.8
2022-02-01,04:45,new zealand,NZD,medium,Trade Balance (YoY) (Dec),"-6,780M",NaN,"-6,230M"

In [ ]:
events = data['event']
events.head(11)

date
2022-02-01              China - Spring Festival
2022-02-01              China - Spring Festival
2022-02-01            FOMC Member George Speaks
2022-02-01       AIG Manufacturing Index  (Dec)
                            ...
2022-02-01                     Home Loans (MoM)
2022-02-01            Retail Sales (MoM)  (Dec)
2022-02-01    RBA Interest Rate Decision  (Feb)
2022-02-01                   RBA Rate Statement
Name: event, Length: 11, dtype: object

In [ ]:
events.iloc[2]

'FOMC Member George Speaks'

In [ ]:
events.iloc[[1, 5, 10]]

date
2022-02-01       China - Spring Festival
2022-02-01    Trade Balance (MoM)  (Dec)
2022-02-01            RBA Rate Statement
Name: event, dtype: object

In [ ]:
events.iloc[1:10:2]

date
2022-02-01              China - Spring Festival
2022-02-01       AIG Manufacturing Index  (Dec)
2022-02-01           Trade Balance (MoM)  (Dec)
2022-02-01                     Home Loans (MoM)
2022-02-01    RBA Interest Rate Decision  (Feb)
Name: event, dtype: object

In [69]:
notnan_filter = data[data.currency.notnull()]
quote_medium, quote_high = quote_filtering(notnan_filter, 'USD')
notall_num, result_num = split_filter(quote_medium)
# result_num

,time,zone,currency,importance,event,actual,forecast,previous
date,,,,,,,,
2022-02-01,21:45,united states,USD,medium,Manufacturing PMI (Jan),55.500,55.000,57.700
2022-02-01,22:00,united states,USD,medium,ISM Manufacturing Employment (Jan),54.500,53.500,53.900
2022-02-02,04:30,united states,USD,medium,API Weekly Crude Oil Stock,-1.645,1.833,-0.872
2022-02-03,20:30,united states,USD,medium,Nonfarm Productivity (QoQ) (Q4),6.600,3.200,-5.000
...,...,...,...,...,...,...,...,...
2022-02-03,22:00,united states,USD,medium,Factory Orders (MoM) (Dec),-0.400,-0.200,1.800
2022-02-04,20:30,united states,USD,medium,Average Hourly Earnings (MoM) (Jan),0.700,0.500,0.500
2022-02-04,20:30,united states,USD,medium,Average Hourly Earnings (YoY) (YoY) (Jan),5.700,5.200,5.000
2022-02-04,20:30,united states,USD,medium,Private Nonfarm Payrolls (Jan),444.000,150.000,503.000

In [71]:
# events.loc['2022-02-11']
result_num.loc['2022-02-01']

,time,zone,currency,importance,event,actual,forecast,previous
date,,,,,,,,
2022-02-01,21:45,united states,USD,medium,Manufacturing PMI (Jan),55.5,55.0,57.7
2022-02-01,22:00,united states,USD,medium,ISM Manufacturing Employment (Jan),54.5,53.5,53.9

In [65]:
np.random.seed(2)

In [66]:
labels = list(np.random.choice(events.index, 1))      # random sampling
labels

[numpy.datetime64('2022-02-11T00:00:00.000000000')]

In [67]:
events.loc[labels]

date
2022-02-11                     Japan - National Day
2022-02-11            Federal Budget Balance  (Jan)
2022-02-11                    BoE Gov Bailey Speaks
2022-02-11                   Business NZ PMI  (Jan)
                              ...
2022-02-11    Michigan Consumer Expectations  (Feb)
2022-02-11       Michigan Consumer Sentiment  (Feb)
2022-02-11                     Japan - National Day
2022-02-11                     Japan - National Day
Name: event, Length: 25, dtype: object

In [76]:
result_num['2022-02-01': '2022-02-03']

,time,zone,currency,importance,event,actual,forecast,previous
date,,,,,,,,
2022-02-01,21:45,united states,USD,medium,Manufacturing PMI (Jan),55.500,55.000,57.700
2022-02-01,22:00,united states,USD,medium,ISM Manufacturing Employment (Jan),54.500,53.500,53.900
2022-02-02,04:30,united states,USD,medium,API Weekly Crude Oil Stock,-1.645,1.833,-0.872
2022-02-03,20:30,united states,USD,medium,Nonfarm Productivity (QoQ) (Q4),6.600,3.200,-5.000
2022-02-03,20:30,united states,USD,medium,Unit Labor Costs (QoQ) (Q4),0.300,1.500,9.300
2022-02-03,21:45,united states,USD,medium,Markit Composite PMI (Jan),51.100,50.800,57.000
2022-02-03,21:45,united states,USD,medium,Services PMI (Jan),51.200,50.900,57.600
2022-02-03,22:00,united states,USD,medium,Factory Orders (MoM) (Dec),-0.400,-0.200,1.800

In [77]:
result_num['2022-02-01': '2022-02-03': 2]

,time,zone,currency,importance,event,actual,forecast,previous
date,,,,,,,,
2022-02-01,21:45,united states,USD,medium,Manufacturing PMI (Jan),55.500,55.000,57.700
2022-02-02,04:30,united states,USD,medium,API Weekly Crude Oil Stock,-1.645,1.833,-0.872
2022-02-03,20:30,united states,USD,medium,Unit Labor Costs (QoQ) (Q4),0.300,1.500,9.300
2022-02-03,21:45,united states,USD,medium,Services PMI (Jan),51.200,50.900,57.600

In [78]:
result_num.iloc[[2]]

,time,zone,currency,importance,event,actual,forecast,previous
date,,,,,,,,
2022-02-02,04:30,united states,USD,medium,API Weekly Crude Oil Stock,-1.645,1.833,-0.872

In [79]:
result_num.loc['2022-02-01': '2022-02-03': 2]

,time,zone,currency,importance,event,actual,forecast,previous
date,,,,,,,,
2022-02-01,21:45,united states,USD,medium,Manufacturing PMI (Jan),55.500,55.000,57.700
2022-02-02,04:30,united states,USD,medium,API Weekly Crude Oil Stock,-1.645,1.833,-0.872
2022-02-03,20:30,united states,USD,medium,Unit Labor Costs (QoQ) (Q4),0.300,1.500,9.300
2022-02-03,21:45,united states,USD,medium,Services PMI (Jan),51.200,50.900,57.600

In [83]:
result_num['2022-02-04': '2022-02-01': -2]

,time,zone,currency,importance,event,actual,forecast,previous
date,,,,,,,,
2022-02-04,20:30,united states,USD,medium,Private Nonfarm Payrolls (Jan),444.000,150.000,503.000
2022-02-04,20:30,united states,USD,medium,Average Hourly Earnings (MoM) (Jan),0.700,0.500,0.500
2022-02-03,21:45,united states,USD,medium,Services PMI (Jan),51.200,50.900,57.600
2022-02-03,20:30,united states,USD,medium,Unit Labor Costs (QoQ) (Q4),0.300,1.500,9.300
2022-02-02,04:30,united states,USD,medium,API Weekly Crude Oil Stock,-1.645,1.833,-0.872
2022-02-01,21:45,united states,USD,medium,Manufacturing PMI (Jan),55.500,55.000,57.700

In [85]:
result_num.iloc[:3, 4:]    # first 3 rows, last 4 columns

                                          event  actual  forecast  previous
date
2022-02-01             Manufacturing PMI  (Jan)  55.500    55.000    57.700
2022-02-01  ISM Manufacturing Employment  (Jan)  54.500    53.500    53.900
2022-02-02           API Weekly Crude Oil Stock  -1.645     1.833    -0.872

In [91]:
result_num.iloc[:, [4, 5, 6, 7]].head()
# result_num.iloc[:, 4:8].head()    # same above

                                          event  actual  forecast  previous
date
2022-02-01             Manufacturing PMI  (Jan)  55.500    55.000    57.700
2022-02-01  ISM Manufacturing Employment  (Jan)  54.500    53.500    53.900
2022-02-02           API Weekly Crude Oil Stock  -1.645     1.833    -0.872
2022-02-03     Nonfarm Productivity (QoQ)  (Q4)   6.600     3.200    -5.000
2022-02-03         Unit Labor Costs (QoQ)  (Q4)   0.300     1.500     9.300

In [93]:
result_num.iloc[[2, 8], [6, 7]]

            forecast  previous
date
2022-02-02     1.833    -0.872
2022-02-04     0.500     0.500

In [96]:
result_num.iloc[5, -4] # get cell at row 5, column -4
# result_num.iloc[:, -4]

'Markit Composite PMI  (Jan)'

In [98]:
result_num.iloc[10:3:-2, 4]   # get cells at rows 90 to 80, column 5

date
2022-02-04         Private Nonfarm Payrolls  (Jan)
2022-02-04    Average Hourly Earnings (MoM)  (Jan)
2022-02-03                     Services PMI  (Jan)
2022-02-03            Unit Labor Costs (QoQ)  (Q4)
Name: event, dtype: object

In [101]:
result_num.loc[:'2022-02-03', :'time']

             time
date
2022-02-01  21:45
2022-02-01  22:00
2022-02-02  04:30
2022-02-03  20:30
2022-02-03  20:30
2022-02-03  21:45
2022-02-03  21:45
2022-02-03  22:00

In [102]:
result_num.loc[:, ['time', 'event']]

             time                                       event
date
2022-02-01  21:45                    Manufacturing PMI  (Jan)
2022-02-01  22:00         ISM Manufacturing Employment  (Jan)
2022-02-02  04:30                  API Weekly Crude Oil Stock
2022-02-03  20:30            Nonfarm Productivity (QoQ)  (Q4)
...           ...                                         ...
2022-02-03  22:00                 Factory Orders (MoM)  (Dec)
2022-02-04  20:30        Average Hourly Earnings (MoM)  (Jan)
2022-02-04  20:30  Average Hourly Earnings (YoY) (YoY)  (Jan)
2022-02-04  20:30             Private Nonfarm Payrolls  (Jan)

[11 rows x 2 columns]

In [109]:
result_num.loc['2022-02-01', 'event']

date
2022-02-01               Manufacturing PMI  (Jan)
2022-02-01    ISM Manufacturing Employment  (Jan)
Name: event, dtype: object

In [132]:
type(result_num.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [145]:
# rows = ['2022-02-01', '2022-02-02', '2022-02-03']
# time_rows = list(pd.DatetimeIndex([pd.to_datetime(row, format='%Y-%m-%d')]) for row in rows)
# print(time_rows)

# columns = ['forecast', 'previous']
# result_num.loc[time_rows, columns]

In [148]:
result_event = result_num.copy().set_index('event')
# result_event.loc['Manufacturing PMI  (Jan)']
# result_event.index
# type(result_event.index)

In [149]:
# ------------ pass name instead of index ------------
rows = ['Manufacturing PMI  (Jan)', 'Average Hourly Earnings (MoM)  (Jan)', 'API Weekly Crude Oil Stock']
columns = ['forecast', 'previous']
result_event.loc[rows, columns]

                                      forecast  previous
event
Manufacturing PMI  (Jan)                55.000    57.700
Average Hourly Earnings (MoM)  (Jan)     0.500     0.500
API Weekly Crude Oil Stock               1.833    -0.872

In [150]:
result_event.loc['Manufacturing PMI  (Jan)', 'forecast']

55.0

In [154]:
result_event.index

Index(['Manufacturing PMI  (Jan)', 'ISM Manufacturing Employment  (Jan)',
       'API Weekly Crude Oil Stock', 'Nonfarm Productivity (QoQ)  (Q4)',
       'Unit Labor Costs (QoQ)  (Q4)', 'Markit Composite PMI  (Jan)',
       'Services PMI  (Jan)', 'Factory Orders (MoM)  (Dec)',
       'Average Hourly Earnings (MoM)  (Jan)',
       'Average Hourly Earnings (YoY) (YoY)  (Jan)',
       'Private Nonfarm Payrolls  (Jan)'],
      dtype='object', name='event')

In [155]:
start, stop = 'Manufacturing PMI  (Jan)', 'Private Nonfarm Payrolls  (Jan)'
result_event.loc[start:stop:2, 'forecast']

event
Manufacturing PMI  (Jan)                 55.000
API Weekly Crude Oil Stock                1.833
Unit Labor Costs (QoQ)  (Q4)              1.500
Services PMI  (Jan)                      50.900
Average Hourly Earnings (MoM)  (Jan)      0.500
Private Nonfarm Payrolls  (Jan)         150.000
Name: forecast, dtype: float64

## Selecting data with both integers and labels

In [156]:
data = pd.read_csv('../cookbook_data/owndata/economic_calendar_2.csv', index_col=1)
data.drop('id', axis=1, inplace=True)

time_format = '%d/%m/%Y'
data.index = pd.to_datetime(data.index, format=time_format)

In [163]:
col_start = data.columns.get_loc('event')
col_end = data.columns.get_loc('event') + 4

In [164]:
data.iloc[:5, col_start:col_end]

                                     event   actual forecast previous
date
2022-02-01         China - Spring Festival      NaN      NaN      NaN
2022-02-01         China - Spring Festival      NaN      NaN      NaN
2022-02-01       FOMC Member George Speaks      NaN      NaN      NaN
2022-02-01  AIG Manufacturing Index  (Dec)     48.4      NaN     54.8
2022-02-01      Trade Balance (YoY)  (Dec)  -6,780M      NaN  -6,230M

In [168]:
len(data.index)

315

#### unique index issue

In [184]:
# data.index = data.index.unique()
# data

In [172]:
data_event = data.copy().set_index('event')

#### [count the duplicates of each type of row](https://stackoverflow.com/questions/35584085/how-to-count-duplicate-rows-in-pandas-dataframe)

In [188]:
data_event.groupby(data_event.columns.tolist(),as_index=False).size()

     time           zone currency importance   actual forecast previous  size
0   04:30  united states      USD     medium  -1.645M   1.833M  -0.872M     1
1   04:45    new zealand      NZD       high     0.1%     0.3%     2.0%     1
2   04:45    new zealand      NZD     medium    -477M    -700M  -1,060M     1
3   04:45    new zealand      NZD     medium     3.2%     3.4%     3.3%     1
..    ...            ...      ...        ...      ...      ...      ...   ...
52  22:00  united states      USD       high     59.9     59.5     62.3     1
53  22:00  united states      USD     medium    -0.4%    -0.2%     1.8%     1
54  22:00  united states      USD     medium     54.5     53.5     53.9     1
55  22:30  united states      USD       high  -1.046M   1.525M   2.377M     1

[56 rows x 8 columns]

In [190]:
row_start, row_end = data_event.index[10], data_event.index[35] # non-unique label
row_start, row_end
# data_event.loc[row_start:row_end, 'actual':'previous']    # comment because error

('RBA Rate Statement', 'RBA Governor Lowe Speaks')

#### Speeding up scalar selection

In [193]:
data_event.index

Index(['China - Spring Festival', 'China - Spring Festival',
       'FOMC Member George Speaks', 'AIG Manufacturing Index  (Dec)',
       'Trade Balance (YoY)  (Dec)', 'Trade Balance (MoM)  (Dec)',
       'Jobs/applications ratio  (Dec)', 'Home Loans (MoM)',
       'Retail Sales (MoM)  (Dec)', 'RBA Interest Rate Decision  (Feb)',
       ...
       'China - Spring Festival', 'China - Spring Festival',
       'China - Spring Festival', 'China - Spring Festival',
       'China - Spring Festival', 'New Zealand - National Day',
       'Japan - National Day', 'United States - Presidents' Day',
       'Canada - Family Day', 'Japan - Emperor's Birthday'],
      dtype='object', name='event', length=315)

In [197]:
cn = 'Trade Balance (YoY)  (Dec)'
data_event.loc[cn, 'actual']
# data_event.loc[cn, ['actual', 'forecast', 'previous']]

'-6,780M'

In [196]:
data_event.at[cn, 'actual']

'-6,780M'

In [199]:
row_num = data_event.index.get_loc(cn)
col_num = data_event.columns.get_loc('forecast')
row_num, col_num

(4, 5)

In [203]:
# %timeit data_event.iloc[row_num, col_num]

28.2 µs ± 2.4 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [205]:
# %timeit data_event.iat[row_num, col_num]

21.2 µs ± 1.02 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [201]:
# %timeit data_event.iloc[5, col_num]

29.2 µs ± 1.6 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [202]:
# %timeit data_event.iloc[5, col_num]

27.1 µs ± 1.03 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [220]:
act_val = data_event['previous']
# act_val.index

In [216]:
act_val.iat[50]

'52.1'

In [219]:
act_val.at['Retail Sales (MoM)  (Dec)']

event
Retail Sales (MoM)  (Dec)    7.3%
Retail Sales (MoM)  (Dec)    0.7%
Name: previous, dtype: object

#### Slicing rows lazily

In [221]:
data = pd.read_csv('../cookbook_data/owndata/economic_calendar_2.csv', index_col=1)
data.drop('id', axis=1, inplace=True)

time_format = '%d/%m/%Y'
data.index = pd.to_datetime(data.index, format=time_format)

In [222]:
events = data['event']
# events

date
2022-02-01            China - Spring Festival
2022-02-01            China - Spring Festival
2022-02-01          FOMC Member George Speaks
2022-02-01     AIG Manufacturing Index  (Dec)
                           ...
2022-02-11               Japan - National Day
2022-02-21    United States - Presidents' Day
2022-02-21                Canada - Family Day
2022-02-23         Japan - Emperor's Birthday
Name: event, Length: 315, dtype: object

In [224]:
events[4:20:4]

date
2022-02-01     Trade Balance (YoY)  (Dec)
2022-02-01      Retail Sales (MoM)  (Dec)
2022-02-01    Nationwide HPI (YoY)  (Jan)
2022-02-01    SECO Consumer Climate  (Q1)
Name: event, dtype: object

In [227]:
events.index[313]

Timestamp('2022-02-21 00:00:00')

In [229]:
# text - datetimeIndex issue
start = 'Mesa Community College'
stop = 'Spokane Community College'
# events[200:300:20]

date
2022-02-16        Core Retail Sales (MoM)  (Jan)
2022-02-16    Industrial Production (MoM)  (Jan)
2022-02-18             Retail Sales (MoM)  (Jan)
2022-02-22                   Services PMI  (Feb)
2022-02-25     Durable Goods Orders (MoM)  (Jan)
Name: event, dtype: object

In [238]:
first_ten_instnm = data.index[:10]
# len(first_ten_instnm), type(first_ten_instnm)

# data.loc[first_ten_instnm, ['time', 'event']]
data.loc[first_ten_instnm, ['event']]

                                     event
date
2022-02-01         China - Spring Festival
2022-02-01         China - Spring Festival
2022-02-01       FOMC Member George Speaks
2022-02-01  AIG Manufacturing Index  (Dec)
...                                    ...
2022-02-01         China - Spring Festival
2022-02-01         China - Spring Festival
2022-02-01         China - Spring Festival
2022-02-01         China - Spring Festival

[340 rows x 1 columns]

### Slicing Lexicographically
- select data based on the lexicographic order of the values in the index
- select all rows with an index lexicographically using slice notation
- This works only if the index is sorted

In [ ]:
pd.options.display.max_rows = 6

In [ ]:
data = pd.read_csv('../cookbook_data/owndata/economic_calendar_2.csv', index_col=1)
data.drop('id', axis=1, inplace=True)

time_format = '%d/%m/%Y'
data.index = pd.to_datetime(data.index, format=time_format)

In [244]:
data_event = data.copy().set_index('event')

In [245]:
data_event = data_event.sort_index()

In [248]:
data_event.loc['AD':'AZ']

,time,zone,currency,importance,actual,forecast,previous
event,,,,,,,
ADP Nonfarm Employment Change (Jan),20:15,united states,USD,high,-301K,207K,776K
AIG Manufacturing Index (Dec),04:30,australia,AUD,medium,48.4,NaN,54.8
ANZ Business Confidence,Tentative,new zealand,NZD,medium,NaN,NaN,-23.2
ANZ Business Confidence (Feb),07:00,new zealand,NZD,medium,NaN,NaN,-23.2
API Weekly Crude Oil Stock,04:30,united states,USD,medium,NaN,NaN,-1.645M
API Weekly Crude Oil Stock,04:30,united states,USD,medium,-1.645M,1.833M,-0.872M

In [249]:
data_event = data_event.sort_index(ascending=False)
data_event.index.is_monotonic_decreasing
# college.head()

True

In [250]:
data_event.loc['C':'A']

,time,zone,currency,importance,actual,forecast,previous
event,,,,,,,
Business NZ PMI (Jan),04:30,new zealand,NZD,medium,NaN,NaN,53.7
Business Investment (QoQ) (Q4),14:00,united kingdom,GBP,medium,NaN,2.6%,-2.5%
Business Inventories (MoM) (Dec),22:00,united states,USD,medium,NaN,1.8%,1.3%
Building Permits (MoM) (Jan),20:30,united states,USD,medium,NaN,NaN,9.8%
...,...,...,...,...,...,...,...
ANZ Business Confidence (Feb),07:00,new zealand,NZD,medium,NaN,NaN,-23.2
ANZ Business Confidence,Tentative,new zealand,NZD,medium,NaN,NaN,-23.2
AIG Manufacturing Index (Dec),04:30,australia,AUD,medium,48.4,NaN,54.8
ADP Nonfarm Employment Change (Jan),20:15,united states,USD,high,-301K,207K,776K