# Dig into Dataframe

In [7]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr
import investpy as iv
import pandas_ta as ta
from datetime import datetime as dt
pd.set_option('max_columns', 6, 'max_rows', 6, 'display.precision', 4)

In [1108]:
# quotes = 'GBPUSD=X'
# data_yh = pdr.DataReader(quotes, data_source="yahoo",
#                       start='01/01/2020', end='12/31/2021')
# data_yh.to_csv('..\\cookbook_data\\owndata\\GBPUSD_yh.csv')

In [1109]:
# data_yh = pd.read_csv('..\\cookbook_data\\owndata\\GBPUSD_yh.csv',
#                       index_col=0, parse_dates=True)
# data_yh.head()

In [1110]:
# data_iv = iv.currency_crosses.get_currency_cross_historical_data('GBP/USD', '01/01/2019', '03/02/2022')
# data_iv.to_csv('..\\cookbook_data\\owndata\\GBPUSD_iv.csv')

In [1111]:
# data_iv = pd.read_csv('..\\data\\owndata\\GBPUSD_iv.csv',
#                       index_col=0, parse_dates=True)
# data_iv.tail()

In [5]:
quotes = ('PHLX Australian Dollar', 'PHLX Canadian Dollar',
          'PHLX Euro', 'PHLX Yen', 'PHLX New Zealand Dollar',
          'PHLX Swiss Franc', 'PHLX British Pound',
          'US Dollar Index')

names = [quote.replace(' ', '_') for quote in quotes]
# names

In [12]:
today = dt.today().strftime('%d/%m/%Y')
# today

In [14]:
quotes = ('US Dollar Index',)

In [15]:
for quote in quotes:
    data_iv = iv.indices.get_index_historical_data(quote, 'united states', '01/01/2019', today)
    name = quote.replace(' ', '_')
    data_iv.to_csv(f'..\\cookbook_data\\owndata\\{name}_iv.csv')

# End Extract Data

In [4]:
name = names[3]
name

'PHLX_Yen'

In [1115]:
data_iv = pd.read_csv(f'..\\cookbook_data\\owndata\\{name}_iv.csv',
                      index_col=0, parse_dates=True)
data_iv.tail()

             Open   High    Low  Close  Volume Currency
Date
2022-01-28  69.72  70.09  69.68  69.90       0      USD
2022-01-31  70.52  70.78  70.38  70.67       0      USD
2022-02-01  70.95  71.31  70.77  71.28       0      USD
2022-02-02  71.57  71.59  71.18  71.37       0      USD
2022-02-03  71.26  71.69  71.19  71.38       0      USD

In [1116]:
data_iv['ohlc4'] = ta.ohlc4(data_iv.Open, data_iv.High, data_iv.Low, data_iv.Close)
# data_iv.drop(['Currency'], axis=1, inplace=True)      # because notebook save file status
data_iv.head()

             Open   High    Low  Close  Volume Currency    ohlc4
Date
2019-01-02  70.04  70.11  69.80  69.81       0      USD  69.9400
2019-01-03  69.65  70.20  69.62  70.04       0      USD  69.8775
2019-01-04  70.46  71.25  70.27  71.20       0      USD  70.7950
2019-01-07  71.34  71.51  71.14  71.48       0      USD  71.3675
2019-01-08  71.37  71.47  71.17  71.38       0      USD  71.3475

In [1117]:
columns_iv = data_iv.columns
index_iv = data_iv.index
values_iv = data_iv.values

In [1118]:
# columns_iv
print(type(columns_iv))

<class 'pandas.core.indexes.base.Index'>

In [1119]:
# index_iv
print(type(index_iv))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [1120]:
# values_iv
print(type(values_iv))

<class 'numpy.ndarray'>

In [1121]:
columns_iv.values

array(['Open', 'High', 'Low', 'Close', 'Volume', 'Currency', 'ohlc4'],
      dtype=object)

In [1122]:
# index_iv.values

#### Data types

In [1123]:
data_iv = pd.read_csv(f'..\\data\\owndata\\{name}_iv.csv',
                      index_col=0, parse_dates=True)
data_iv['hl2'] = ta.hl2(data_iv.High, data_iv.Low)
data_iv['hlc3'] = ta.hlc3(data_iv.High, data_iv.Low, data_iv.Close)
data_iv['ohlc4'] = ta.ohlc4(data_iv.Open, data_iv.High, data_iv.Low, data_iv.Close)
# data_iv.drop(['Currency'], axis=1, inplace=True)      # because notebook save file status
# data_iv.drop(['Currency', 'Volume'], axis=1, inplace=True)      # because notebook save file status
data_iv.dtypes

Open        float64
High        float64
Low         float64
Close       float64
             ...
Currency     object
hl2         float64
hlc3        float64
ohlc4       float64
Length: 9, dtype: object

### [New idea: Fear & Greed Index](https://money.cnn.com/data/fear-and-greed)
- [Safe haven assets](https://www.venn.twosigma.com/vennsights/five-safe-haven-assets)
- How to calculate ...

In [1124]:
data_iv.dtypes.value_counts()

float64    7
int64      1
object     1
dtype: int64

In [1125]:
data_iv['ohlc4_change'] = data_iv.ohlc4.pct_change().abs()

In [1126]:
data_iv.tail()

,Open,High,Low,Close,...,hl2,hlc3,ohlc4,ohlc4_change
Date,,,,,,,,,
2022-01-28,69.72,70.09,69.68,69.90,...,69.885,69.89,69.8475,0.0100
2022-01-31,70.52,70.78,70.38,70.67,...,70.580,70.61,70.5875,0.0106
2022-02-01,70.95,71.31,70.77,71.28,...,71.040,71.12,71.0775,0.0069
2022-02-02,71.57,71.59,71.18,71.37,...,71.385,71.38,71.4275,0.0049
2022-02-03,71.26,71.69,71.19,71.38,...,71.440,71.42,71.3800,0.0007

# Selecting

In [1127]:
ohlc4 = data_iv.ohlc4
ohlc4.name

'ohlc4'

In [1128]:
ohlc4.to_frame().tail()

              ohlc4
Date
2022-01-28  69.8475
2022-01-31  70.5875
2022-02-01  71.0775
2022-02-02  71.4275
2022-02-03  71.3800

In [1129]:
new_data_iv = data_iv.iloc[1:]
# new_data_iv[-52:]
new_data_iv[-100:].describe()

,Open,High,Low,Close,...,hl2,hlc3,ohlc4,ohlc4_change
count,100.0000,100.0000,100.0000,100.0000,...,100.0000,100.0000,100.0000,100.0000
mean,72.5909,72.8153,72.3637,72.5815,...,72.5895,72.5868,72.5879,0.0040
std,1.2593,1.2370,1.2755,1.2560,...,1.2536,1.2525,1.2516,0.0030
min,69.7200,70.0900,69.6800,69.9000,...,69.8850,69.8900,69.8475,0.0001
25%,71.5775,71.8200,71.3600,71.6975,...,71.5837,71.6475,71.6025,0.0013
50%,72.4750,72.7000,72.2050,72.4100,...,72.4650,72.4233,72.4450,0.0036
75%,73.3150,73.5175,73.1350,73.2825,...,73.3050,73.3000,73.2775,0.0058
max,75.3500,75.5700,75.1100,75.4100,...,75.3150,75.3467,75.3125,0.0121

In [1130]:
ohlc4_change = new_data_iv.ohlc4_change

In [1131]:
ohlc4_change.shape, ohlc4_change.size, len(ohlc4_change), ohlc4_change.count()

((779,), 779, 779, 779)

In [1132]:
pd.set_option('display.precision', 6)

In [1133]:
# ohlc4_change.describe() 

norm_ohlc4_change = ohlc4_change.describe() * 100
norm_ohlc4_change

count    7.790000e+04
mean     4.071481e-01
std      3.701228e-01
min      2.220446e-14
25%      1.526588e-01
50%      3.183119e-01
75%      5.653866e-01
max      3.095951e+00
Name: ohlc4_change, dtype: float64

In [1134]:
norm_ohlc4_change.quantile(.2)

0.21892004121803146

In [1135]:
norm_ohlc4_change.quantile([.1, .2, .3, .4, .5, .6, .7, .8])

0.1    0.106861
0.2    0.218920
0.3    0.323493
0.4    0.359761
0.5    0.388635
0.6    0.438796
0.7    0.549563
0.8    2.083726
Name: ohlc4_change, dtype: float64

In [1136]:
ohlc4_change.isnull().value_counts()

False    779
Name: ohlc4_change, dtype: int64

### add daily min risk depend on min / mean value of ohlc change

In [1137]:
norm_ohlc4_change

count    7.790000e+04
mean     4.071481e-01
std      3.701228e-01
min      2.220446e-14
25%      1.526588e-01
50%      3.183119e-01
75%      5.653866e-01
max      3.095951e+00
Name: ohlc4_change, dtype: float64

In [1138]:
temp_data = ohlc4_change[-50:]
print(temp_data.describe())

mean_ohlc4_change = temp_data.mean()
mean_ohlc4_change * 100

count    50.000000
mean      0.004590
std       0.003294
min       0.000139
25%       0.001614
50%       0.004314
75%       0.006992
max       0.012147
Name: ohlc4_change, dtype: float64

0.458978423728905

In [1139]:
count_above_mean = temp_data >= mean_ohlc4_change
count_above_mean.value_counts()

False    28
True     22
Name: ohlc4_change, dtype: int64

In [1140]:
data_iv = pd.read_csv(f'..\\cookbook_data\\owndata\\{name}_iv.csv',
                      index_col=0, parse_dates=True)
data_iv['hl2'] = ta.hl2(data_iv.High, data_iv.Low)
data_iv['hlc3'] = ta.hlc3(data_iv.High, data_iv.Low, data_iv.Close)
data_iv['ohlc4'] = ta.ohlc4(data_iv.Open, data_iv.High, data_iv.Low, data_iv.Close)
# data_iv.drop(['Currency'], axis=1, inplace=True)      # because notebook save file status
data_iv

,Open,High,Low,Close,...,Currency,hl2,hlc3,ohlc4
Date,,,,,,,,,
2019-01-02,70.04,70.11,69.80,69.81,...,USD,69.955,69.906667,69.9400
2019-01-03,69.65,70.20,69.62,70.04,...,USD,69.910,69.953333,69.8775
2019-01-04,70.46,71.25,70.27,71.20,...,USD,70.760,70.906667,70.7950
2019-01-07,71.34,71.51,71.14,71.48,...,USD,71.325,71.376667,71.3675
...,...,...,...,...,...,...,...,...,...
2022-01-31,70.52,70.78,70.38,70.67,...,USD,70.580,70.610000,70.5875
2022-02-01,70.95,71.31,70.77,71.28,...,USD,71.040,71.120000,71.0775
2022-02-02,71.57,71.59,71.18,71.37,...,USD,71.385,71.380000,71.4275
2022-02-03,71.26,71.69,71.19,71.38,...,USD,71.440,71.420000,71.3800

In [1141]:
data_iv['hl2_change'] = data_iv.hl2.pct_change().abs()
data_iv['hlc3_change'] = data_iv.hlc3.pct_change().abs()
data_iv['ohlc4_change'] = data_iv.ohlc4.pct_change().abs()
data_iv

,Open,High,Low,Close,...,ohlc4,hl2_change,hlc3_change,ohlc4_change
Date,,,,,,,,,
2019-01-02,70.04,70.11,69.80,69.81,...,69.9400,NaN,NaN,NaN
2019-01-03,69.65,70.20,69.62,70.04,...,69.8775,0.000643,0.000668,0.000894
2019-01-04,70.46,71.25,70.27,71.20,...,70.7950,0.012158,0.013628,0.013130
2019-01-07,71.34,71.51,71.14,71.48,...,71.3675,0.007985,0.006628,0.008087
...,...,...,...,...,...,...,...,...,...
2022-01-31,70.52,70.78,70.38,70.67,...,70.5875,0.009945,0.010302,0.010595
2022-02-01,70.95,71.31,70.77,71.28,...,71.0775,0.006517,0.007223,0.006942
2022-02-02,71.57,71.59,71.18,71.37,...,71.4275,0.004856,0.003656,0.004924
2022-02-03,71.26,71.69,71.19,71.38,...,71.3800,0.000770,0.000560,0.000665

In [1142]:
temp_data = data_iv[-50:]
temp_data_index = temp_data.index
# temp_data.describe()

In [1143]:
mean_hl2_change = temp_data.hl2_change.mean()
mean_hlc3_change = temp_data.hlc3_change.mean()
mean_ohlc4_change = temp_data.ohlc4_change.mean()

In [1144]:
hl2_above_mean = temp_data.hl2_change >= mean_hl2_change
hl2_above_mean.value_counts()
# hl2_above_mean
# type(hl2_above_mean)

False    27
True     23
Name: hl2_change, dtype: int64

In [1145]:
np_hl2_above_mean = hl2_above_mean.to_numpy()

In [1146]:
hlc3_above_mean = temp_data.hlc3_change >= mean_hlc3_change
hlc3_above_mean.value_counts()
# hlc3_above_mean

False    28
True     22
Name: hlc3_change, dtype: int64

In [1147]:
np_hlc3_above_mean = hlc3_above_mean.to_numpy()

In [1148]:
ohlc4_above_mean = temp_data.ohlc4_change >= mean_ohlc4_change
ohlc4_above_mean.value_counts()
# ohlc4_above_mean

False    28
True     22
Name: ohlc4_change, dtype: int64

In [1149]:
np_ohlc4_above_mean = ohlc4_above_mean.to_numpy()

In [1150]:
import numpy as np

np_result = np.logical_and(np.logical_and(np_hl2_above_mean, np_hlc3_above_mean), np_ohlc4_above_mean)

In [1151]:
pd_result = pd.Series(np_result, index=temp_data_index)
pd_result.value_counts()

False    31
True     19
dtype: int64

In [1152]:
data_iv['close_change'] = data_iv.Close.pct_change().abs()
data_iv['close_status'] = data_iv.Close.pct_change()

sample = data_iv[-50:]
sample_index = sample.index

mean_close_change = sample.close_change.mean()

In [1153]:
col_len = len(sample.columns)
col_len

14

In [1154]:
# close_above_mean = sample.close_change >= mean_close_change

# close_above_mean = sample.close_change.gt(mean_close_change)
# close_above_mean.value_counts()

sample['gt_mean_abs'] = sample.close_change.gt(mean_close_change)
sample

e:\Code\Algorithmic-Trading\env\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Open,High,Low,Close,...,ohlc4_change,close_change,close_status,gt_mean_abs
Date,,,,,,,,,
2021-11-23,72.15,72.31,72.06,72.27,...,0.003451,0.000000,0.000000,False
2021-11-24,72.03,72.08,71.83,71.97,...,0.003047,0.004151,-0.004151,False
2021-11-26,71.49,71.54,71.15,71.24,...,0.008649,0.010143,-0.010143,True
2021-11-29,71.45,71.51,71.14,71.43,...,0.000385,0.002667,0.002667,False
...,...,...,...,...,...,...,...,...,...
2022-01-31,70.52,70.78,70.38,70.67,...,0.010595,0.011016,0.011016,True
2022-02-01,70.95,71.31,70.77,71.28,...,0.006942,0.008632,0.008632,True
2022-02-02,71.57,71.59,71.18,71.37,...,0.004924,0.001263,0.001263,False
2022-02-03,71.26,71.69,71.19,71.38,...,0.000665,0.000140,0.000140,False

In [1155]:
# import warnings
sample['status'] = sample.close_status.gt(0.0)
# sample[['gt_mean_abs', 'status']]

# (greater/ smaller) and (bull or bear)
sample['final_status'] = sample.gt_mean_abs.astype(int) * sample.status.astype(int)

result_stt_sr = sample['final_status'].astype(bool)
result_stt_sr.value_counts(normalize=True)

e:\Code\Algorithmic-Trading\env\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

e:\Code\Algorithmic-Trading\env\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

False    0.78
True     0.22
Name: final_status, dtype: float64

In [1156]:
sample.gt_mean_abs.value_counts()   # mean 28 times change < mean, 22 times change > mean

False    28
True     22
Name: gt_mean_abs, dtype: int64

In [1157]:
sample.status.value_counts()    # mean 28 times bull, 22 bear

False    27
True     23
Name: status, dtype: int64

## Volume adding: T.B.D
- yahoo finance refer
- change > 75% ...