In [52]:
import pandas as pd
import numpy as np
import pandas_datareader as pdr
import investpy as iv
import pandas_ta as ta
pd.set_option('max_columns', 8, 'max_rows', 10, 'display.precision', 4)

In [53]:
quotes = ('PHLX Australian Dollar', 'PHLX Canadian Dollar',
          'PHLX Euro', 'PHLX Yen', 'PHLX New Zealand Dollar',
          'PHLX Swiss Franc', 'PHLX British Pound',
          'US Dollar Index')

names = [quote.replace(' ', '_') for quote in quotes]
# names

In [54]:
def get_dataiv(filepath, index=0, parsed=True):
    try:
        data = pd.read_csv(filepath, index_col=index, parse_dates=parsed)
        data.drop(['Volume'], axis=1, inplace=True) if 'Volume' in data_iv.columns else None
        data.drop(['Currency'], axis=1, inplace=True) if 'Currency' in data_iv.columns else None
    except FileNotFoundError:
        print("File not found. Please check the filepath.")
    return data

In [55]:
# 'Volume' in data_iv.columns

In [56]:
# 'Currency' in data_iv.columns

In [57]:
df = get_dataiv(f'..\\cookbook_data\\owndata\\{names[-1]}_iv.csv')
df

             Open   High    Low  Close
Date
2019-01-01  96.15  96.32  95.65  96.17
2019-01-02  96.14  96.96  95.82  96.82
2019-01-03  96.72  96.75  96.21  96.31
2019-01-04  96.28  96.61  96.05  96.18
2019-01-07  96.16  96.16  95.64  95.67
...           ...    ...    ...    ...
2022-01-28  97.25  97.44  97.06  97.27
2022-01-31  97.22  97.30  96.52  96.54
2022-02-01  96.70  96.72  96.24  96.39
2022-02-02  96.27  96.30  95.81  95.94
2022-02-03  96.02  96.25  95.24  95.38

[807 rows x 4 columns]

In [58]:
# data_iv = pd.read_csv(f'..\\cookbook_data\\owndata\\{names[-1]}_iv.csv')
# data_iv.tail()

In [59]:
df.shape, df.columns, df.index

((807, 4),
 Index(['Open', 'High', 'Low', 'Close'], dtype='object'),
 DatetimeIndex(['2019-01-01', '2019-01-02', '2019-01-03', '2019-01-04',
                '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10',
                '2019-01-11', '2019-01-14',
                ...
                '2022-01-21', '2022-01-24', '2022-01-25', '2022-01-26',
                '2022-01-27', '2022-01-28', '2022-01-31', '2022-02-01',
                '2022-02-02', '2022-02-03'],
               dtype='datetime64[ns]', name='Date', length=807, freq=None))

In [60]:
# df.info()
# df.describe()

In [61]:
df.dtypes

Open     float64
High     float64
Low      float64
Close    float64
dtype: object

In [62]:
df.dtypes.value_counts()

float64    4
dtype: int64

In [63]:
close = df['Close']
type(close), close.name

(pandas.core.series.Series, 'Close')

In [64]:
to_dframe = close.to_frame()
type(to_dframe)

pandas.core.frame.DataFrame

In [65]:
to_dframe.tail()

            Close
Date
2022-01-28  97.27
2022-01-31  96.54
2022-02-01  96.39
2022-02-02  95.94
2022-02-03  95.38

#### some common functions, prop:
- head, tail, drop, to_frame, value_counts, count, describe, quantile, fillna, 
- size, shape, dtypes, columns, index

In [66]:
close.hasnans

False

In [67]:
df['wma'] = ta.wma(close, timeperiod=20)
df.dropna(inplace=True)
df

             Open   High    Low  Close      wma
Date
2019-01-14  95.65  95.72  95.48  95.61  95.7309
2019-01-15  95.57  96.26  95.47  96.04  95.7547
2019-01-16  95.94  96.18  95.86  96.06  95.7845
2019-01-17  96.07  96.26  95.98  96.06  95.8282
2019-01-18  96.07  96.39  96.01  96.34  95.9273
...           ...    ...    ...    ...      ...
2022-01-28  97.25  97.44  97.06  97.27  96.3755
2022-01-31  97.22  97.30  96.52  96.54  96.4616
2022-02-01  96.70  96.72  96.24  96.39  96.4973
2022-02-02  96.27  96.30  95.81  95.94  96.4391
2022-02-03  96.02  96.25  95.24  95.38  96.2713

[798 rows x 5 columns]

In [68]:
df.Close.add(data_iv.wma)

Date
2019-01-14    191.3409
2019-01-15    191.7947
2019-01-16    191.8445
2019-01-17    191.8882
2019-01-18    192.2673
                ...
2022-01-28    193.6455
2022-01-31    193.0016
2022-02-01    192.8873
2022-02-02    192.3791
2022-02-03    191.6513
Length: 798, dtype: float64

In [69]:
df['Square'] = df.Close.mul(df.wma).pow(0.25)
df['M_Square'] = df.Close.pow(0.5).ge(df.Square)
df

             Open   High    Low  Close      wma  Square  M_Square
Date
2019-01-14  95.65  95.72  95.48  95.61  95.7309  9.7811     False
2019-01-15  95.57  96.26  95.47  96.04  95.7547  9.7927      True
2019-01-16  95.94  96.18  95.86  96.06  95.7845  9.7940      True
2019-01-17  96.07  96.26  95.98  96.06  95.8282  9.7951      True
2019-01-18  96.07  96.39  96.01  96.34  95.9273  9.8048      True
...           ...    ...    ...    ...      ...     ...       ...
2022-01-28  97.25  97.44  97.06  97.27  96.3755  9.8398      True
2022-01-31  97.22  97.30  96.52  96.54  96.4616  9.8235      True
2022-02-01  96.70  96.72  96.24  96.39  96.4973  9.8206     False
2022-02-02  96.27  96.30  95.81  95.94  96.4391  9.8076     False
2022-02-03  96.02  96.25  95.24  95.38  96.2713  9.7890     False

[798 rows x 7 columns]