# Beginning Data Analysis with real financial data

In [25]:
import numpy as np
import pandas as pd
from IPython.display import display
pd.set_option('display.max_columns', 20)    # , 'display.max_rows', 20

In [26]:
dxy = pd.read_csv('../cookbook_data/owndata/US_Dollar_Index_iv.csv', index_col=0, parse_dates=True)
# type(dxy.index)

In [27]:
dxy.drop(['Volume', 'Currency'], axis=1, inplace=True)

In [28]:
# dxy.head()

In [29]:
dxy.shape

(807, 4)

In [30]:
num = 30
tmp_dxy = dxy.tail(num)
# tmp_dxy

In [31]:
with pd.option_context('display.max_rows', 8):
    # display(dxy.describe(include=[np.number]).T)

    # refer
    # result.describe(percentiles=[.01, .05, .1, .3, .4, .5, .6, .7, .8, .9, .95, .99])

    display(tmp_dxy.describe(include=[np.number],
            percentiles=[.05, .25, .5, .75, .95]).T)

,count,mean,std,min,5%,25%,50%,75%,95%,max
Open,30.0,95.970333,0.542265,94.87,95.0710,95.6875,95.975,96.1975,96.9860,97.25
High,30.0,96.217667,0.536564,95.02,95.3060,95.9125,96.265,96.3750,97.2955,97.44
Low,30.0,95.715667,0.531936,94.63,94.7725,95.4925,95.750,95.9975,96.5255,97.06
Close,30.0,95.942000,0.556017,94.79,95.0325,95.6600,95.960,96.2075,96.9305,97.27

In [34]:
tmp_dxy.dtypes

Open     float64
High     float64
Low      float64
Close    float64
dtype: object

In [33]:
# tmp_dxy.describe(include=[object, pd.Categorical]).T